{{define "title"}}Investigator #{{.Character.ID}}{{end}}

{{define "main"}}
    {{$csrf := .CSRFToken}}
    {{with .Character}}
    <div id='info'>
        <table>
            <tr>
                <th>Name</th>
                <th>Beruf</th>
                <th>Alter</th>
                <th>Geschlecht</th>
                <th>Wohnort</th>
                <th>Geburtsort</th>
            </tr>
            <tr>
                <td>{{.Info.Name}}</td>
                <td>{{.Info.Profession}}</td>
                <td>{{.Info.Age}}</td>
                <td>{{.Info.Gender}}</td>
                <td>{{.Info.Residence}}</td>
                <td>{{.Info.Birthplace}}</td>
            </tr>
        </table>
    </div>
    <div id='attributes'>
        <table>
            {{with $attr := .Attributes}}
            {{range $key := $attr.OrderedKeys}}
            <tr>
                <th>{{$key}}</th>
                <td>{{$v := index $attr.AsMap $key}} {{$v}} | {{half $v}} | {{fifth $v}}</td>
            </tr>
            {{end}}
            {{end}}
        </table>
    </div>
    <div id='stats'>
            <table>
                <tr>
                    <th>Trefferpunkte ({{.Stats.MaxTP}})</th>
                    <th>Stabilität ({{.Stats.MaxSTA}})</th>
                    <th>Magiepunkte ({{.Stats.MaxMP}})</th>
                    <th>Glück ({{.Stats.MaxLUCK}})</th>
                </tr>
                <tr>
                    {{$stats := .Stats}}
                    {{range $stat := $stats.OrderedKeysCurrent}}
                    <td>
                        <form>
                            <input type="hidden" name="csrf_token" value="{{$csrf}}">
                            <button type="submit" name="inc" hx-post="/inc" hx-target="#{{$stat}}" hx-swap="outerHTML" value="{{$stat}}">+</button>
                            <div id="{{$stat}}" value="{{$stat}}">{{index $stats.CurrentAsMap $stat}}</div>
                            <button type="submit" name="dec" hx-post="/dec" hx-target="#{{$stat}}" hx-swap="outerHTML" value="{{$stat}}">-</button>
                        </form>
                    </td>
                    {{end}}  
                </tr>
            </table>
    </div>
    <div id='skills'>
        <details>
            <summary>Fertigkeiten</summary>
            <table>
                {{$skills := .AllSkills}}
                {{$keys := $skills.Name}}
                {{$values := $skills.Value}}
                {{range $ind, $key := $keys}}
                <tr>
                    {{$val := (index $values $ind)}}
                    <th>{{$key}}</th>
                    <td>{{$val}} | {{half $val}} | {{fifth $val}}</td>
                </tr>
                {{end}}
            </table>
        </details>
    </div>
    <div id='items'>
        <details>
            <summary>Ausrüstung</summary>
            <a href='/characters/{{.ID}}/addItem'>
                <button>Gegenstand hinzufügen</button>
            </a>
            <table>
                <tr>
                    <th>Gegenstand</th>
                    <th>Beschreibung</th>
                    <th>Anzahl</th>
                </tr>
                {{range .Items}}
                <tr>
                    <td>{{.Name}}</td>
                    <td>{{.Description}}</td>
                    <td>{{.Count}}</td>
                </tr>
                {{end}}
            </table>
        </details>
    </div>
    <div id='notes'>
        <details>
            <summary>Notizen</summary>
            <div id="note" hx-target="this" hx-swap="outerHTML">
                <button hx-get="/characters/{{.ID}}/addNote">Notiz hinzufügen</button>
                <ul>
                    {{range .Notes}}
                    <li>{{.}} <button>löschen</button></li>
                    {{end}}
                </ul>
            </div>
        </details>
    </div>
    {{end}}
{{end}}