{{define "title"}}Investigator #{{.Character.ID}}{{end}}

{{define "main"}}
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    {{with .Character}}
    <div id="info">
        <table>
            <tr>
                <th>Name</th>
                <th>Beruf</th>
                <th>Alter</th>
                <th>Geschlecht</th>
                <th>Wohnort</th>
                <th>Geburtsort</th>
            </tr>
            <tr>
                <td>{{.Info.Name}}</td>
                <td>{{.Info.Profession}}</td>
                <td>{{.Info.Age}}</td>
                <td>{{.Info.Gender}}</td>
                <td>{{.Info.Residence}}</td>
                <td>{{.Info.Birthplace}}</td>
            </tr>
        </table>
    </div>
    <div id="attributes">
        <table>
            {{with $attr := .Attributes}}
            {{range $key := $attr.OrderedKeys}}
            <tr>
                <th>{{$key}}</th>
                <td>{{$v := index $attr.AsMap $key}} {{$v}} | {{half $v}} | {{fifth $v}}</td>
            </tr>
            {{end}}
            {{end}}
        </table>
    </div>
    <div id="stats">
            <table>
                <tr>
                    <th>Trefferpunkte ({{.Stats.MaxTP}})</th>
                    <th>Stabilität ({{.Stats.MaxSTA}})</th>
                    <th>Magiepunkte ({{.Stats.MaxMP}})</th>
                    <th>Glück ({{.Stats.MaxLUCK}})</th>
                </tr>
                <tr>
                    {{$stats := .Stats}}
                    {{range $stat := $stats.OrderedKeysCurrent}}
                    <td>
                        <button name="inc" value="{{$stat}}" hx-get="/inc" hx-target="#{{$stat}}" hx-select="#{{$stat}}" hx-swap="outerHTML">+</button>
                        <div id="{{$stat}}">{{index $stats.CurrentAsMap $stat}}</div>
                        <button name="dec" value="{{$stat}}" hx-get="/dec" hx-target="#{{$stat}}" hx-select="#{{$stat}}" hx-swap="outerHTML">-</button>
                    </td>
                    {{end}}  
                </tr>
            </table>
    </div>
    <div id="skills">
        <details>
            <summary>Fertigkeiten</summary>
            <table>
                {{range $key, $value := .Skills.AsMap}}
                <tr>
                    <th>{{$key}}</th>
                    <td>{{$value}} | {{half $value}} | {{fifth $value}}</td>
                </tr>
                {{end}}
            </table>
        </details>
    </div>
    <div id="items">
        <details>
            <summary>Ausrüstung</summary>
            <table>
                <tr>
                    <th>Gegenstand</th>
                    <th>Beschreibung</th>
                    <th>Anzahl</th>
                </tr>
                {{range .Items}}
                <tr>
                    <td>{{.Name}}</td>
                    <td>{{.Description}}</td>
                    <td>{{.Count}}</td>
                </tr>
                {{end}}
            </table>
            <a href='/characters/{{.ID}}/addItem'>
                <button>Gegenstand hinzufügen</button>
            </a>
        </details>
    </div>
    <div id="notes">
        <details>
            <summary>Notizen</summary>
            <ul>
                {{range .Notes}}
                <li>{{.}}</li>
            </ul>
        </details>
    </div>
    {{end}}
{{end}}