{{define "title"}}Investigator #{{.Character.ID}}{{end}}

{{define "main"}}
    {{with .Character}}
    <div id="info">
        <table>
            <tr>
                <th>Name</th>
                <th>Beruf</th>
                <th>Alter</th>
                <th>Geschlecht</th>
                <th>Wohnort</th>
                <th>Geburtsort</th>
            </tr>
            <tr>
                <td>{{.Info.Name}}</td>
                <td>{{.Info.Profession}}</td>
                <td>{{.Info.Age}}</td>
                <td>{{.Info.Gender}}</td>
                <td>{{.Info.Residence}}</td>
                <td>{{.Info.Birthplace}}</td>
            </tr>
        </table>
    </div>
    <div id="attributes">
        <table>
            {{with $attr := .Attributes}}
            {{range $key := $attr.OrderedKeys}}
            <tr>
                <th>{{$key}}</th>
                <td>{{$v := index $attr.AsMap $key}} {{$v}} | {{half $v}} | {{fifth $v}}</td>
            </tr>
            {{end}}
            {{end}}
        </table>
    </div>
    <div id="stats">
        <table>
            <tr>
                <th>Trefferpunkte</th>
                <th>Stabilität</th>
                <th>Magiepunkte</th>
                <th>Glück</th>
            </tr>
            <tr>
                <td>{{.Stats.TP}}</td>
                <td>{{.Stats.STA}}</td>
                <td>{{.Stats.MP}}</td>
                <td>{{.Stats.LUCK}}</td>
            </tr>
        </table>
    </div>
    <div id="skills">
        <table>
            {{range $key, $value := .Skills.AsMap}}
            <tr>
                <th>{{$key}}</th>
                <td>{{$value}} | {{half $value}} | {{fifth $value}}</td>
            </tr>
            {{end}}
        </table>
    </div>
    {{end}}
{{end}}