{{define "title"}}Neuen Charakter erstellen{{end}}

{{define "main"}}
<form action='/create' method='POST'>
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    {{range .Form.GenericErrors}}
        <div class='error'>{{.}}</div>
    {{end}}
    <div id="info">
        <table>
            <tr>
                <td>
                    <label>Name:</label>
                    <input type='text' name='Info.Name' value='{{.Form.Info.Name}}'>
                    {{with .Form.FieldErrors.Name}}
                        <label class='error'>{{.}}</label>
                    {{end}}
                </td>
            </tr>
            <tr>
                <td>
                    <label>Beruf:</label>
                    <input type='text' name='Info.Profession' value='{{.Form.Info.Profession}}'>
                    {{with .Form.FieldErrors.Beruf}}
                        <label class='error'>{{.}}</label>
                    {{end}}
                </td>
            </tr>
            <tr>
                <td>
                    <label>Alter:</label>
                    <input type='text' name='Info.Age' value='{{.Form.Info.Age}}'>
                    {{with .Form.FieldErrors.Alter}}
                        <label class='error'>{{.}}</label>
                    {{end}}
                </td>
            </tr>
            <tr>
                <td>
                    <label>Geschlecht:</label>
                    <input type='radio' name='Info.Gender' value='männlich' {{if (eq .Form.Info.Gender "männlich")}} checked {{end}} checked> Männlich
                    <input type='radio' name='Info.Gender' value='weiblich' {{if (eq .Form.Info.Gender "weiblich")}} checked {{end}}> Weiblich
                    {{with .Form.FieldErrors.Geschlecht}}
                        <label class='error'>{{.}}</label>
                    {{end}}
                </td>
            </tr>
            <tr>
                <td>
                    <label>Wohnort:</label>
                    <input type='text' name='Info.Residence' value='{{.Form.Info.Residence}}'>
                    {{with .Form.FieldErrors.Wohnort}}
                        <label class='error'>{{.}}</label>
                    {{end}}
                </td>
            </tr>
            <tr>
                <td>
                    <label>Geburtsort:</label>
                    <input type='text' name='Info.Birthplace' value='{{.Form.Info.Birthplace}}'>
                    {{with .Form.FieldErrors.Geburtsort}}
                        <label class='error'>{{.}}</label>
                    {{end}}
                </td>
            </tr>
        </table>
    </div> 
    <div id="attributes">
        <details>
            <summary>Attribute</summary>
            <p>Zu verteilen: 40, 50, 50, 50, 60, 60, 70, 80</p>
            <table>
                {{$fieldErrors := .Form.FieldErrors}}
                {{$map := .Form.Attributes.AsMap}}
                {{range $attr := .Form.Attributes.OrderedKeys}}
                <tr>
                    <td>
                        <label>{{$attr}}</label>
                        {{if (eq $attr "BW")}}
                        <select name='Attributes.BW' value='{{index $map "BW"}}'>
                            <option value='12'>12</option>
                            <option value='11'>11</option>
                            <option value='10'>10</option>
                            <option value='9'>9</option>
                            <option selected='selected' value='8'>8</option>
                            <option value='7'>7</option>
                            <option value='6'>6</option>
                            <option value='5'>5</option>
                            <option value='4'>4</option>
                            <option value='3'>3</option>
                            <option value='2'>2</option>
                            <option value='1'>1</option>
                        </select>
                        <input type='hidden' name='Attributes.{{$attr}}' value='8'>
                        {{else}}
                            {{$value := index $map $attr}}
                            <input type='hidden' name='Attributes.{{$attr}}' value='{{$value}}'>
                            <select name='Attributes.{{$attr}}'>
                                <option value='80' {{if (eq $value 80)}} selected='selected' {{end}}>80</option>
                                <option value='70' {{if (eq $value 70)}} selected='selected' {{end}}>70</option>
                                <option value='60' {{if (eq $value 60)}} selected='selected' {{end}}>60</option>
                                <option value='50' {{if (eq $value 50)}} selected='selected' {{end}}>50</option>
                                <option value='40' {{if (or (eq $value 40) (eq $value 0))}} selected='selected' {{end}}>40</option>
                            </select>
                            {{with (index $fieldErrors $attr)}}
                                <label class='error'>{{.}}</label>
                            {{end}}
                        {{end}}
                    </td>
                </tr>
                {{end}}
                </tr>
            </table>
        </details>
    </div>
    <div>
        <details>
        <summary>Fertigkeiten</summary>
        <p>Zu verteilen: 40, 40, 40, 50, 50, 50, 60, 60, 70</p>
        <p>Einer der 9 Werte muss auf Finanzkraft verwendet werden!</p>
            <table id="Skills">
                {{$fieldErrors := .Form.FieldErrors}}
                {{$keys := .Form.Skills.Name}}
                {{$values := .Form.Skills.Value}}
                {{range $ind, $key := $keys}}
                <tr>
                    <td>
                        <label>{{$key}}</label>
                        <input id='{{$key}}' type='hidden' name='Skills.Name' value='{{$key}}' disabled>
                        <select id='{{$key}}Val' name='Skills.Value' disabled>
                            <option value='{{index $values $ind}}' selected>{{index $values $ind}}</option>
                            <option value='70'>70</option>
                            <option value='60'>60</option>
                            <option value='50'>50</option>
                            <option value='40'>40</option>
                        </select>
                        <input id='{{$key}}Edit' type='checkbox'>
                        {{with (index $fieldErrors $key)}}
                                <label class='error'>{{.}}</label>
                        {{end}}
                    </td>
                </tr>
                {{end}}
                <tr>
                    <td>
                        <label>Neuen Skill hinzufügen</label>
                        <select name='category' hx-get='/customSkillInput' hx-target='#Skills' hx-swap='beforeend'>
                            <option value='Muttersprache'>Muttersprache</option>
                            <option value='Fremdsprache'>Fremdsprache</option>
                            <option value='Handwerk'>Handwerk und Kunst</option>
                            <option value='Naturwissenschaft'>Naturwissenschaft</option>
                            <option value='Steuern'>Steuern</option>
                            <option value='Überlebenskunst'>Überlebenskunst</option>
                            <option value='Sonstiges'>Sonstiges</option>
                        </select>                       
                    </td>
                </tr>
                
            </table>
        </details>
    </div>
    <div>
        <input type="submit" value="Charakter erstellen">
    </div>
</form>
{{end}}