{{define "title"}}Gegenstand hinzufügen{{end}}

{{define "main"}}
<form action='/characters/{{.Form.CharacterId}}/addItem' method='POST'>
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    <div>
        <label>Name:</label>
        {{with .Form.FieldErrors.Name}}
            <label class='error'>{{.}}</label>
        {{end}}
        <input type='text' name='Name' value='{{.Form.Name}}'>
    </div>
    <div>
        <label>Beschreibung:</label>
        {{with .Form.FieldErrors.Description}}
            <label class='error'>{{.}}</label>
        {{end}}
        <textarea name='Description' value='{{.Form.Description}}'>{{.Form.Description}}</textarea>
    </div>
    <div>
        <label>Anzahl:</label>
        <input type='number' name='Count' {{if .Form.Count}} value='{{.Form.Count}}' {{else}} value='1' {{end}}>
    </div>
    <div>
        <input type='submit' value='Gegenstand hinzufügen'>
    </div>
</form>
{{end}}