{{define "title"}}Gegenstand hinzufügen{{end}}

{{define "main"}}
<form action='' method='POST'>
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    <div>
        <label>Name:</label>
        {{with .Form.FieldErrors.Name}}
            <label class='error'>{{.}}</label>
        {{end}}
        <input type='text' name='Name' value='{{.Form.Name}}'>
    </div>
    <div>
        <label>Beschreibung:</label>
        {{with .Form.FieldErrors.Description}}
            <label class='error'>{{.}}</label>
        {{end}}
        <textarea name='Description' value='{{.Form.Description}}'>{{.Form.Description}}</textarea>
    </div>
    <div>
        <label>Anzahl:</label>
        <input type='number' name='Count' {{if (eq .Form.Count 0)}} value='1' {{else}} value='.Form.Count' {{end}}>
    </div>
    <div>
        <input type='submit' value='Gegenstand hinzufügen'>
    </div>
</form>
{{end}}