{{define "title"}}Login{{end}}

{{define "main"}}
<form action='/login' method='POST' novalidate>
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    {{range .Form.GenericErrors}}
        <div class='error'>{{.}}</div>
    {{end}}
    <div>
        <label>Name:</label>
        {{with .Form.FieldErrors.Name}}
            <label class='error'>{{.}}</label>
        {{end}}
        <input type='text' name='Name' value='{{.Form.Name}}'>
    </div>
    <div>
        <label>Passwort:</label>
        {{with .Form.FieldErrors.Password}}
            <label class='error'>{{.}}</label>
        {{end}}
        <input type='password' name='Password'>
    </div>
    <div>
        <input type='submit' value='Login'>
    </div>
</form>
{{end}}