{{define "title"}}Material hochladen{{end}}

{{define "main"}}
<form action='/users/{{.Form.UploadedByName}}/uploadMaterial' method='POST' enctype="multipart/form-data">
    {{range .Form.GenericErrors}}
        <div class='error'>{{.}}</div>
    {{end}}
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    <input type="hidden" name="UploadedById" value="{{.Form.UploadedById}}">
    <input type="hidden" name="UploadedByName" value="{{.Form.UploadedByName}}">
    <div>
        <label>Datei auswählen:</label>
        <input type="file" name="FilePath" accept="image/*">
    </div>
    <div>
        <label>Titel:</label>
        <input type="text" name="Title" value="{{.Form.Title}}">
    </div>
    <div>
        <button type='submit'>Hochladen</button>
    </div>
</form>
{{end}}