{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - Cthulhu hates paper</title>
        <link rel='stylesheet' href='/static/css/main.css'>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
    </head>
    <body>
        {{with .Flash}}
            <div class="flash">{{.}}</div>
        {{end}}
        {{template "nav" .}}
        <main>
            {{template "main" .}}
        </main>
    </body>
</html>
{{end}}