{{define "nav"}}
<nav> 
    {{if .IsAuthenticated}}
    <div>
        <a href='/users/{{.User.Name}}'>Übersicht</a>
        <a href='/create'>Charakter erstellen</a>
    </div>
    <div>
        <form action='/logout' method='POST'>
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            <button>Ausloggen</button>
        </form>
    </div>
    {{else}}
    <div>
        <a href='/login'>Einloggen</a>
        <a href='/signup'>Registrieren</a>
    </div>
    {{end}}
</nav>
{{end}}